@model HugoBotWebApplication.Models.Discretization

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Discretization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AbstractionMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbstractionMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassSeparator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassSeparator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BinsNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinsNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbstractedTimeSerires)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbstractedTimeSerires)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVmap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVmap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VmapPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VmapPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatasetID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatasetID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatasetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatasetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visibility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DiscretizationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
